* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
   /* background-color: #030331; */
    background-image: url(./images/11.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
h1, h2 {
    color: #e3912f;;
    text-align: center;
   
}

h2{
    margin-bottom: 25px;

}
.container {
    margin: auto;
    width: 90%;
    
   
   
}
section{
    height: 350px;
}

.btn1 {
    background-color: #e3912f;;
    color: #fff;
    width: 25%;
    float: left;
   
    text-align: center;
    font-size: 18px;
    display: block;
    padding: 10px;
    margin: 2px;
    border: none;
    border-radius: 7px;
}

.btn1:hover, .btn:hover {
    background-color: #c0a483;;
}


.btn {
    background-color:#e3912f;
    color: #fff;
    padding: 0px;
    margin: 5px;
    height: 40px;
}

input{
    width: 400px;
    height: 30px;
    font-size: 18px;
    border-radius: 7px;
    padding: 10px;
    margin: 10px 5px;
    padding: 15px;
    background-color: #f3dec5;
}

input:focus{
    border: 3px purple solid;
}

input:focus, button:focus{
    outline-width: 0;
}

#message {
    overflow-wrap: break-word;
    list-style: none;
    padding: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #f3dec5;
} 

#formMessage {
    position: relative;
   
}


.pozicija1 { 
    /* position: fixed; */
    bottom: 50px;
}

.pozicija2 {
     /* position: fixed;*/ 
      bottom: 0;
}
 

.row {
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
}

/* za mobile */

@media only screen and (max-width:600px) {
    [class*="col-"] {
        width: 100%;
    }
}


/* za desktop */

@media only screen and (min-width:600px) {
    [class*="col-"] {
        float: left;
       
    }
    .btn1 {
        background-color: #e3912f;;
        color: #fff;
        width: 25%;
        float: left;
        text-align: center;
        font-size: 15px;
        display: block;
        padding: 6px;
        margin: 2px;
        border: none;
        border-radius: 7px;
    }
    
        .col-1 {
            width: 8.33%;
        }
        .col-2 {
            width: 16.66%;
        }
        .col-3 {
            width: 25%;
        }
        .col-4 {
            width: 33.33%;
        }
        .col-5 {
            width: 41.66%;
        }
        .col-6 {
            width: 50%;
        }
        .col-7{
        width: 58.33%;
        }
        .col-8 {
        width: 66.66%;
        }
        .col-9 {
        width: 75%;
        }
        .col-10 {
        width: 83.33%;
        }
         .col-11 {
            width: 91.66%;
         }
         .col-12 {
            width: 100%;
         }
    }